.article .container{
  padding-top: 50px;
}
.Arrow img{
  padding-top: 50%;
  width: 100px;
  height: auto;
}
.Abouttitle
{
  padding: 0px;
  margin-bottom: 50px;
}
.Abouttitle h2{
  font-weight: bold;
}
.AboutText h4
{
  line-height: 50px;
}
.aboutImg img{
  border-radius: 50%;
}
