.article .container{
  padding-top: 50px;
}
.Arrow img{
  padding-top: 50%;
  width: 100px;
  height: auto;
}
.Abouttitle
{
  padding: 0px;
  margin-bottom: 50px;
}
.Abouttitle h2{
  font-weight: bold;
}
.AboutText h4
{
  line-height: 50px;
}
.aboutImg img{
  border-radius: 50%;
}
.line{
  border-top: 2px solid #8C8C8C;
  margin-top: 30px;
  margin-bottom: 80px;
}
.slogan{
  text-align: center;
  color:#212121;
  font-family:DFKai-sb;
  font-weight: bold;
}
.slogan .eng{
  text-align: center;
  color:#787878;
  font-family:cursive;
  font-weight: bold;

}
