.carousel{
  margin: auto;
  width: 72%;
  height: auto;
}
.article{
  margin-top: 80px;
}
.carousel-inner{
  position: relative;
}
.text{
  position: absolute;
  display: block;
  padding: 10px;
  width: 300px;
  height: auto;
  text-align: center;
  vertical-align: middle;
  left:50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -200px;
  line-height: 24px;
  background-color: black;
  opacity: 0.7;
  border-radius: 5px;
}
.whatWeDo {
  margin-top: 50px;
  text-align: center;
}
.whatWeDo h1{
  font-weight: bold;
}
.pic{
  margin-top: 50px;
}
.pic h4{
  margin-top: 40px;
  text-align: center;
}
.pic img{
  margin-left: 30px;;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  box-shadow: #666 0px 2px 3px;
}
.pic img:hover{
  transform: scale(1.1);
}

.operation, .facebookFans  {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 2px solid gray;
}
.operation h2, .facebookFans h2{
  line-height: 60px;
}
