.text1{
  margin:20px 300px 0px 300px;
  font-size: 16px;
}
h2{
  margin:20px 300px 20px 300px;
}
/*.img_center{
  margin:20px 300px 20px 300px;
}*/
.pic img{
  width:70%;
  margin-left: 205px;
  margin-right: 30px;
  border-radius: 5%;
}
.pic img.img2{
  width:70%;
  margin-left: 205px;
  /*margin-right: 30px;*/
  border-radius: 5%;
}
