.text1{
  margin:20px 255px 20px 300px;
  font-size: 16px;
}
ul{
  margin:20px 300px 20px 300px;
  font-size: 16px;
}
.text2{
  margin:20px 300px 20px 300px;
  font-size: 16px;
}
.pic img{
  width:70%;
  margin-left: 220px;
  margin-right: 30px;
  border-radius: 5%;
}
