.reg_text1{
  margin:20px 180px 20px 150px;
  font-size: 16px;
}
.reg_ul{
  margin:20px 300px 20px 300px;
  font-size: 16px;
}
.reg_img_center img{
  width:80%;
  border-radius:5%;
  margin:20px 100px 20px 100px;
}
.reg_text_h2{
  font-size:25px;
  margin:20px 180px 20px 150px;
}
