
body{
  font-family: FontAwesome;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.loader {
 border-top: 16px solid blue;
 border-right: 16px solid green;
 border-bottom: 16px solid red;
 border-left: 16px solid pink;
}
.navbar{
  background-color: transparent;
  /*opacity: 0.8;*/
  border: 1px solid #696;
  box-shadow: #666 0px 2px 3px;
}
.carousel{
  margin: auto;
  width: 72%;
  height: auto;
}
