@import url("homeStyle.css");
@import url("signUpInStyle.css");
@import url("profileStyle.css");
@import url("donateStyle.css");
@import url("listStyle.css");
@import url("foodto.css");
@import url("aboutus.css");



body{
  font-family: Microsoft JhengHei;
  overflow-x: hidden;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.navbar-brand{
  padding: 0px;
  padding-left: 30px;
  height: 70px;
}
.navbar-brand img{
  width: 70px;
  height: 70px;
}
.navbar{
  background-color: transparent;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  /*opacity: 0.8;*/
  box-shadow: #666 0px 2px 3px;
  font-size: 1.8rem;
}
.nav li{
  margin-top: 13px;
}
/*NavBar--------------------------------------------------*/


/*---------------------------------------FOOTER*/
.footer{
  margin-top: 50px;
  padding-top: 50px;
  text-align: center;
  background-color: white;
  height: auto;
}
.footer img:hover{
  transform: scale(1.1);
}
.footer h2{
  padding-bottom: 30px;
  font-weight: bold;
}
.footer .row{
  margin-top: 40px;
  margin-bottom: 50px;
  width: 100%;
}
.circle{
  margin-left: 32%;
  width: 180px;
  height: 180px;
  background-color: RGB(238, 238, 238);
  border-radius: 50%;
}
.circle img{
  padding-top: 30px;
}



/*media queries*/
@media (min-width: 992px) and (max-width: 1199px) {
  .article{
    margin-top: 100px;
  }
  .operation img, .facebookFans iframe{
    width: 80%;
    height: auto;
    margin-left: 10%;
  }
  .circle{
    margin-left: 38%;
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
    background-color: RGB(238, 238, 238);
    border-radius: 50%;
  }
  .circle img{
    width: 100px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .circle h4{
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .article{
    margin-top: 15%;
  }
  .carousel{
    margin: auto;
    width: 100%;
    height: auto;
  }
  .pic img{
    width: 80%;
    height: auto;
    margin-left: 10%;
  }
  .pic h4{
    margin-top: 50px;
    font-size: 35px;
    line-height: 100px;
  }
  .operation img, .facebookFans iframe{
    width: 80%;
    height: auto;
    margin-left: 10%;
  }
  .circle{
    margin-left: 36%;
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
    background-color: RGB(238, 238, 238);
    border-radius: 50%;
  }
  .circle img{
    width: 100px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .circle h4{
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .article{
    margin-top: 14%;
  }
  .text{
    display: none;
  }
  .carousel{
    margin: auto;
    width: 100%;
    height: auto;
  }
  .pic img{
    width: 80%;
    height: auto;
    margin-left: 10%;
  }
  .pic h4{
    margin-top: 50px;
    font-size: 35px;
    line-height: 100px;
  }
  .operation img, .facebookFans iframe{
    width: 100%;
    height: auto;
  }
  .circle{
    margin-left: 38%;
    margin-bottom: 50px;
    background-color: RGB(238, 238, 238);
    border-radius: 50%;
  }
}

@media (max-width: 415px) {
  .article{
    margin-top: 30%;
  }


}
